<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <footer>
  <div class="footer container-fluid ">
    <div class="row">
      <div class="col-2">

      </div>
      <div class=" col-2" style="margin-left:5%;">
        <p class="">A PROPOS DE NOUS <br><br>
          <span> Célébrant la cuisine, la culture, l'artisanat et les <br>habitants les plus raffinés d'Indonésie, des<br> classiques indonésiens sont servis avec des plats<br> créatifs qui expérimentent des épices et des saveurs<br> traditionnelles de tout l'archipel.</span>
          <br><br><span> &copy;2022 Restaurant Pelat Kanan | Tous les droits sont réservés | created by Richard Schulze</span></p>
      </div>

      <div class="col-3" style="margin-left:7%;">
        <p class="Info">HORAIRES D'OUVERTURES<br><br>
          <span> Mardi-Dimanche:<br>11h30-15h00 | 18h00-01h00</span></p>
      </div>

      <div class="col-2" style="margin-left:-5%;" >
        <p class="">INFORMATIONS DE CONTACT <br><br>
          <span>Rs. grandendt n°200x,<br>

            Kabupaten Badung, Bali, Indonésie 80361<br>

            Téléphone : (0364) 584859<br>

            Courriel : info@pelat_kanan.xyzo</span></p>
      </div>

      <div class="col-2"></div>
    </div>
  </div>
</footer>
</body>
</html>
