<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Concept</title>
</head>
<body>
  <div class="concept container">
  <h1>CONCEPT</h1>
  <br>
  <hr>
  <img src="assets/img/interieur.png" class="d-block mx-auto"alt=""><br>
  <p>Situé dans un cadre luxueux et théâtral, le toit illuminé et translucide de Pelat Kanan s'élève au-dessus d'un jardin intérieur vibrant et opulent. La salle à manger principale fermée et climatisée peut accueillir 110 personnes au rez-de-chaussée et 24 à 30 autres personnes dans trois modules en teck sur une mezzanine.

    Le jardin luxuriant et l'eau ruisselante créent une intimité au milieu de la majesté, de sorte que vous puissiez profiter d'un dîner discret pour deux ou d'un grand événement social avec votre famille et vos amis.</p>
</div>
</body>
</html>
