<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galerie</title>
</head>
<body>
  <div class="galerie container-fluid">
    <h1>Galerie photos</h1>
    <hr>
    <div class="row">
      <div class="col-3">
        <img src="assets/img/service.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/sommelier.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/tables.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/salon.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/salle.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/assiette.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/dinner.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/interieur.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/int.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/exterieur.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/chandelle.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/bar.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/cave.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/cuisinier.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col-3">
        <img src="assets/img/groupecuisine.png" class="img-thumbnail" alt="...">
      </div>
    </div>
  </div>

</body>
</html>
