<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Groupes</title>
</head>
<body>
<div class="equipe container-fluid">
  <h1>Nos équipes</h1>
  <hr>


        <img src="assets/img/groupecuisine.png" class="d-block mx-auto w-25" alt="cuisinierbali">




  <br>
  <p><span>"Pelat Kanan"</span>  peut accueillir un maximum de 30 personnes pour un dîner de groupe ou une célébration. Avec des cocktails à l'arrivée et diverses options de menu de partage disponibles, <b>c'est l'endroit idéal pour partager avec vos invités.</b> <br><br>

    De plus,<span>"Pelat Kanan"</span>  peut également être loué en privé pour tout événement spécial, mariage ou fête d'entreprise. Pouvant accueillir un maximum de 140 personnes pour un dîner assis ou pour une soirée canapé 200+.<br><br>

    Nous travaillerons en étroite collaboration avec vous pour rendre votre événement spécial parfait, qu'il s'agisse d'une réception de mariage, d'un lancement de produit, d'une réunion d'affaires ou de quelque chose entre les deux.<br><br>

    L'un des avantages d'organiser votre événement avec nous est qu'aucun plan de secours n'est requis en cas de mauvais temps. Notre lieu est impressionnant et immuable, quelles que soient les conditions qui prévalent lors de votre journée importante.<br><br>

    Nos chefs ont quant à eux une expérience exhaustive de la restauration pour de grands groupes et peuvent travailler pour répondre aux préférences alimentaires et aux exigences alimentaires.</p>
</div>
</body>
</html>
