<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>trouve_nous</title>
</head>
<body>
  <div class="trouver container-fluid">
    <h1>Nous trouver </h1>
    <hr>
    <img src="assets/img/trouver.png" class="w-75"alt="notreadresse">
  <p><br><a href="https://g.page/discoveryshoppingmall?share" target="_blank" style="color:blue;">Cliquez ici pour nous trouver </a> </p>
  </div>

</body>
</html>
